<h1> Ingresar nuevo</h1>
<form action="/restaurants" method="post">

<label for="name"> Nombre</label>
<input type="text" id="name" name="name">

<label for="address"> Direccion</label>
<input type="text" id="address" name="address">

<label for="city"> Ciudad</label>
<input type="text" id="city" name="city">

<label for="phone_number"> Telefono </label>
<input type="text" id="phone_number" name="phone_number">

<label for="type_food"> Tipo de comida</label>
<input type="text" id="type_food" name="type_food">

<label for="image_url"> URL imagen</label>
<input type="text" id="image_url" name="image_url">

<input type="submit" value="Enviar">
</form>
